*.redxml
*.txt
*.html
*.pdf
*.upload
.tags
*~
*.swp
/*-[0-9][0-9].xml
.refcache
.targets.mk
venv/
issues.json
pulls.json
report.xml
lib
draft-ietf-httpbis-cache-digest.xml
draft-ietf-httpbis-client-cert-field.xml
draft-ietf-httpbis-early-hints.xml
draft-ietf-httpbis-expect-ct.xml
draft-ietf-httpbis-header-structure.xml
draft-ietf-httpbis-http2-secondary-certs.xml
draft-ietf-httpbis-key.xml
draft-ietf-httpbis-origin-frame.xml
draft-ietf-httpbis-rand-access-live.xml
draft-ietf-httpbis-replay.xml
draft-ietf-httpbis-rfc6265bis.xml
draft-ietf-httpbis-bcp56bis.xml
draft-ietf-httpbis-binary-message.xml
draft-ietf-httpbis-cache-header.xml
draft-ietf-httpbis-digest-headers.xml
draft-ietf-httpbis-h3-websockets.xml
draft-ietf-httpbis-message-signatures.xml
draft-ietf-httpbis-priority.xml
draft-ietf-httpbis-proxy-status.xml
draft-ietf-httpbis-rfc7838bis.xml
draft-ietf-httpbis-targeted-cache-control.xml
draft-ietf-httpbis-variants.xml
