*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-httpbis-*.xml
draft-ietf-httpbis-alias-proxy-status.xml
draft-ietf-httpbis-cache-groups.xml
draft-ietf-httpbis-client-cert-field.xml
draft-ietf-httpbis-compression-dictionary.xml
draft-ietf-httpbis-connect-tcp.xml
draft-ietf-httpbis-digest-headers.xml
draft-ietf-httpbis-incremental.xml
draft-ietf-httpbis-message-signatures.xml
draft-ietf-httpbis-no-vary-search.xml
draft-ietf-httpbis-optimistic-upgrade.xml
draft-ietf-httpbis-origin-h3.xml
draft-ietf-httpbis-resumable-upload.xml
draft-ietf-httpbis-retrofit.xml
draft-ietf-httpbis-rfc6265bis.xml
draft-ietf-httpbis-rfc7838bis.xml
draft-ietf-httpbis-safe-method-w-body.xml
draft-ietf-httpbis-secondary-server-certs.xml
draft-ietf-httpbis-sfbis.xml
draft-ietf-httpbis-unprompted-auth.xml
draft-ietf-httpbis-variants.xml
draft-ietf-httpbis-wrap-up.xml
draft-ietf-httpbis-zstd-window-size.xml
issues.json
lib
node_modules//lib
package-lock.json
pulls.json
report.xml
rfc9729.xml
venv/
!draft-ietf-httpbis-safe-method-w-body.xml
!requirements.txt
