.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
draft-ietf-httpbis-cache-groups.xml
draft-ietf-httpbis-compression-dictionary.xml
draft-ietf-httpbis-connect-tcp.xml
draft-ietf-httpbis-incremental.xml
draft-ietf-httpbis-layered-cookies.xml
draft-ietf-httpbis-no-vary-search.xml
draft-ietf-httpbis-optimistic-upgrade.xml
draft-ietf-httpbis-resumable-upload.xml
draft-ietf-httpbis-retrofit.xml
draft-ietf-httpbis-rfc6265bis.xml
draft-ietf-httpbis-safe-method-w-body.xml
draft-ietf-httpbis-secondary-server-certs.xml
draft-ietf-httpbis-unencoded-digest.xml
draft-ietf-httpbis-wrap-up.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
